<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.byh.groupware.domain.approval.mapper.ApprovalMapper">


<!--    <select id="selectDraftDocument" resultType="DocumentMasterVO">-->
<!--        SELECT *-->
<!--        FROM tbl_document_master limit 1-->
<!--    </select>-->

    <select id="generateDocNo" resultType="Integer">
        SELECT LAST_SEQ
        FROM TBL_NO_MASTER
        WHERE YEAR = #{year}
        AND APPROVAL_FORM_ID = #{formId}
        FOR UPDATE
    </select>

    <update id="updateLastSeq">
        UPDATE TBL_NO_MASTER
        SET LAST_SEQ = LAST_SEQ + 1,
        UPDATE_DATE = NOW()
        WHERE YEAR = #{year}
        AND APPROVAL_FORM_ID = #{formId}
    </update>

    <insert id="insertDocumentMaster">
        INSERT INTO TBL_DOCUMENT_MASTER (
        DOC_ID,
        DRAFT_TIME,
        DRAFTER_DEPT,
        APPROVAL_FORM_ID,
        SECURITY_LEVEL,
        PRESERVE_YEAR,
        ROOT_DOC_ID,
        VERSION,
        DRAFTER_ID,
        DRAFTER_NAME,
        APPROVAL_FORM_TITLE
        ) VALUES (
        #{docId},
        NOW(),             #{drafterDept},
        #{approvalFormId},
        #{securityLevel},
        #{preserveYear},
        #{rootDocId},      #{version},
        #{drafterId},
        #{drafterName},
        #{approvalFormTitle}
        )
    </insert>

    <insert id="insertActiveDoc">
        INSERT INTO TBL_ACTIVEDOC (
        DOC_ID,
        ATTACH_YN,
        URGENT_YN,
        LAST_MOD_DATE,
        DOC_TITLE,
        SEARCH_CONTENT,
        FILE_PATH,
        FILE_NAME,
        CONTENT_TYPE
        ) VALUES (
        #{docId},
        #{attachYn},
        #{urgentYn},
        NOW(),             #{docTitle},
        #{docContent},  #{filePath},
        #{fileName},
        #{contentType}
        )
    </insert>

    <insert id="insertStatusMap">
        INSERT INTO TBL_STATUS_MAP (
        DOC_ID,
        DOC_STATUS,         CURR_STEP,          CURR_APPROVER,      UPDATE_DATE,
        DOC_TITLE,          DRAFTER,            DRAFTER_DEPT,       CURR_APPROVER_NAME, CURR_APPROVER_DEPT, CURR_APPROVER_DEPT_ID  ) VALUES (
        #{dto.docId},
        #{docStatus},
        #{next.stepSeq},
        #{next.approverId},
        NOW(),
        #{dto.docTitle},
        #{dto.drafterId},
        #{dto.drafterDept},
        #{next.approverName},
        #{next.approverDeptName},
        #{next.approverDeptId}
        )
    </insert>

    <insert id="insertAprLines">
        INSERT INTO TBL_APRLINE (
        STEP_SEQ,
        DOC_ID,
        APPROVER_ID,
        APPROVER_NAME,
        APPROVER_JOB,   APPROVE_TYPE, APPROVER_DEPT_ID, APPROVER_DEPT_NAME,
        APPROVE_STATUS,
        APPROVE_REASON,
        APPROVE_DATE
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.stepSeq},
            #{docId},
            #{item.approverId},
            #{item.approverName},
            #{item.approverJob}, #{item.approveType}, #{item.approverDeptId}, #{item.approverDeptName},
            <choose>
                <when test="item.stepSeq == 1">'03'</when>
                <when test="item.stepSeq == firstApproverSeq and item.approveType == '02'">'02'</when>
                <otherwise>'01'</otherwise>
            </choose>,
            NULL,
            <choose>
                <when test="item.stepSeq == 1">NOW()</when>
                <otherwise>NULL</otherwise>
            </choose>
            )
        </foreach>
    </insert>

    <select id="selectStatusForUpdate" resultType="StatusMapVO">
        SELECT
        DOC_ID,
        DOC_STATUS,
        CURR_STEP,
        CURR_APPROVER,
        UPDATE_DATE,
        DOC_TITLE,
        DRAFTER,
        DRAFTER_DEPT,
        CURR_APPROVER_NAME,
        CURR_APPROVER_DEPT,
        CURR_APPROVER_DEPT_ID
        FROM TBL_STATUS_MAP
        WHERE DOC_ID = #{docId}
        FOR UPDATE
    </select>

    <select id="checkApproverAuthority" resultType="int">
        SELECT COUNT(*)
        FROM TBL_APRLINE
        WHERE DOC_ID = #{docId}
        AND APPROVER_ID = #{processorId}
        AND APPROVE_STATUS = '02'
        AND APPROVE_TYPE IN ('02', '03')
    </select>

    <select id="isFinalApprover" resultType="boolean">
        SELECT
        CASE WHEN COUNT(*) = 0 THEN 1 ELSE 0 END
        FROM TBL_APRLINE
        WHERE DOC_ID = #{docId}
        AND STEP_SEQ > (
        SELECT STEP_SEQ
        FROM TBL_APRLINE
        WHERE DOC_ID = #{docId}
        AND APPROVER_ID = #{processorId}
        )
        AND APPROVE_TYPE = '02'
    </select>

    <select id="selectNextApprover" resultType="AprLineVO">
        SELECT
        STEP_SEQ,
        DOC_ID,
        APPROVER_ID,
        APPROVER_NAME,
        APPROVER_JOB,
        APPROVER_DEPT_ID,
        APPROVER_DEPT_NAME,
        APPROVE_TYPE,
        APPROVE_STATUS
        FROM TBL_APRLINE
        WHERE DOC_ID = #{dto.docId}
        <choose>
            <when test="isFinal">
                AND APPROVER_ID = #{dto.processorId}
                AND APPROVE_STATUS = '02'
            </when>
            <otherwise>
                <![CDATA[
            AND STEP_SEQ > (
                            SELECT STEP_SEQ
                            FROM TBL_APRLINE
                            WHERE DOC_ID = #{dto.docId}
                            AND APPROVER_ID = #{dto.processorId}
                            )
            AND APPROVE_STATUS = '01'
            AND APPROVE_TYPE <> '09'
            ]]>
                ORDER BY STEP_SEQ ASC
                LIMIT 1
            </otherwise>
        </choose>
    </select>

    <update id="updateStatusMap">
        UPDATE TBL_STATUS_MAP
        SET
        DOC_STATUS = #{docStatus},
        UPDATE_DATE = NOW(),
        CURR_STEP = #{dto.currApprover.stepSeq},
        CURR_APPROVER = #{dto.currApprover.approverId},
        CURR_APPROVER_NAME = #{dto.currApprover.approverName},
        CURR_APPROVER_DEPT_ID = #{dto.currApprover.approverDeptId},
        CURR_APPROVER_DEPT = #{dto.currApprover.approverDeptName}
        WHERE DOC_ID = #{dto.docId}
    </update>

    <update id="updateCurrentApproverStatus">
        UPDATE TBL_APRLINE
        SET
        APPROVE_STATUS = '03',
        APPROVE_DATE = NOW()
        WHERE DOC_ID = #{docId}
        AND APPROVER_ID = #{processorId}
        AND APPROVE_STATUS = '02'
    </update>

    <update id="updateNextApproverStatus">
        UPDATE TBL_APRLINE
        SET
        APPROVE_STATUS = '02'
        WHERE DOC_ID = #{docId}
        AND STEP_SEQ = #{stepSeq}
        AND APPROVE_STATUS = '01'
    </update>

    <update id="updateActiveDoc">
        UPDATE TBL_ACTIVEDOC
        SET
        LAST_MOD_DATE = NOW()
        WHERE DOC_ID = #{docId}
    </update>

    <insert id="insertEndDoc">
        INSERT INTO TBL_ENDDOC (
        DOC_ID, COMPLETED_DATE, ARCHIVE_DATE, ATTACH_YN, URGENT_YN,
        DOC_TITLE, SEARCH_CONTENT, FILE_PATH, FILE_NAME, CONTENT_TYPE
        )
        SELECT
        DOC_ID, NOW(), NULL, ATTACH_YN, URGENT_YN,
        DOC_TITLE, SEARCH_CONTENT, FILE_PATH, FILE_NAME, CONTENT_TYPE
        FROM TBL_ACTIVEDOC
        WHERE DOC_ID = #{docId}
    </insert>

    <insert id="insertEndAprLine">
        INSERT INTO TBL_ENDAPRLINE (
        DOC_ID, STEP_SEQ, APPROVER_ID, APPROVE_TYPE, APPROVE_STATUS,
        APPROVE_REASON, APPROVE_DATE, APPROVER_NAME, APPROVER_JOB,
        APPROVER_DEPT_ID, APPROVER_DEPT_NAME
        )
        SELECT
        DOC_ID, STEP_SEQ, APPROVER_ID, APPROVE_TYPE, APPROVE_STATUS,
        APPROVE_REASON, APPROVE_DATE, APPROVER_NAME, APPROVER_JOB,
        APPROVER_DEPT_ID, APPROVER_DEPT_NAME
        FROM TBL_APRLINE
        WHERE DOC_ID = #{docId}
    </insert>

    <delete id="deleteActiveDoc">
        DELETE FROM TBL_ACTIVEDOC WHERE DOC_ID = #{docId}
    </delete>

    <delete id="deleteAprLine">
        DELETE FROM TBL_APRLINE WHERE DOC_ID = #{docId}
    </delete>

    <select id="selectApprovalList" resultType="ApprovalListResponseDTO">
        SELECT
        S.DOC_ID,
        S.DOC_TITLE,
        S.DRAFTER,
        S.CURR_APPROVER_NAME,
        S.DOC_STATUS,
        S.UPDATE_DATE
        FROM TBL_STATUS_MAP S
        WHERE 1=1

        <choose>

            <when test="viewType == 'TODO'">
                AND S.CURR_APPROVER = #{loginMemId}
                AND S.DOC_STATUS = '02'
            </when>


            <when test="viewType == 'DRAFT'">
                AND S.DRAFTER = #{loginMemId}
            </when>


            <when test="viewType == 'DEPT'">
                AND S.DRAFTER_DEPT = #{loginDeptCode}
            </when>


            <when test="viewType == 'COMPLETED'">
                AND S.DOC_STATUS = '03'
                AND (
                S.DRAFTER = #{loginMemId}
                OR EXISTS (
                SELECT 1 FROM TBL_APRLINE L
                WHERE L.DOC_ID = S.DOC_ID AND L.APPROVER_ID = #{loginMemId}
                )
                )
            </when>
        </choose>


        <if test="searchKeyword != null and searchKeyword != ''">
            AND S.DOC_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
        </if>

        ORDER BY S.UPDATE_DATE DESC
    </select>

    <resultMap id="ApprovalDetailMap" type="ApprovalDetailResponseDTO">
        <id property="docId" column="DOC_ID"/>
        <result property="docTitle" column="DOC_TITLE"/>
        <result property="drafterId" column="DRAFTER_ID"/>
        <result property="drafterName" column="DRAFTER_NAME"/>
        <result property="docStatus" column="DOC_STATUS"/>
        <result property="draftTime" column="DRAFT_TIME"/>
        <result property="content" column="CONTENT"/>
        <result property="currApprover" column="CURR_APPROVER"/>
        <collection property="approverLines" ofType="ApproverInfoDTO">
            <result property="stepSeq" column="STEP_SEQ"/>
            <result property="approverName" column="APPROVER_NAME"/>
            <result property="approveStatus" column="APPROVE_STATUS"/>
            <result property="approverId" column="APPROVER_ID"/>
            <result property="approverJob" column="APPROVER_JOB"/>
            <result property="docId" column="DOC_ID"/>
            <result property="approveType" column="APPROVE_TYPE"/>
            <result property="approveReason" column="APPROVE_REASON"/>
            <result property="approveDate" column="APPROVE_DATE"/>
            <result property="approverDeptId" column="APPROVER_DEPT_ID"/>
            <result property="approverDeptName" column="APPROVER_DEPT_NAME"/>
        </collection>
    </resultMap>

    <select id="selectActiveDocDetail" parameterType="string" resultMap="ApprovalDetailMap">
        SELECT
        M.DOC_ID, M.DRAFTER_NAME, M.DRAFTER_ID, M.DRAFT_TIME, S.DOC_TITLE, S.DOC_STATUS, S.CURR_APPROVER,
        A.SEARCH_CONTENT AS CONTENT,
        L.STEP_SEQ, L.APPROVER_ID, L.APPROVER_NAME, L.DOC_ID, L.APPROVER_JOB, L.APPROVE_TYPE, L.APPROVE_REASON, L.APPROVE_DATE, L.APPROVER_DEPT_ID, L.APPROVER_DEPT_NAME, L.APPROVE_STATUS
        FROM TBL_DOCUMENT_MASTER M
        JOIN TBL_STATUS_MAP S ON M.DOC_ID = S.DOC_ID
        JOIN TBL_ACTIVEDOC A ON M.DOC_ID = A.DOC_ID
        LEFT JOIN TBL_APRLINE L ON M.DOC_ID = L.DOC_ID
        WHERE M.DOC_ID = #{docId}
        ORDER BY L.STEP_SEQ ASC
    </select>

    <select id="selectEndDocDetail" parameterType="string" resultMap="ApprovalDetailMap">
        SELECT
        M.DOC_ID, M.DRAFTER_NAME, M.DRAFTER_ID, M.DRAFT_TIME, S.DOC_TITLE, S.DOC_STATUS, S.CURR_APPROVER,
        E.SEARCH_CONTENT AS CONTENT,
        L.STEP_SEQ, L.APPROVER_ID, L.APPROVER_NAME, L.DOC_ID, L.APPROVER_JOB, L.APPROVE_TYPE, L.APPROVE_REASON, L.APPROVE_DATE, L.APPROVER_DEPT_ID, L.APPROVER_DEPT_NAME, L.APPROVE_STATUS
        FROM TBL_DOCUMENT_MASTER M
        JOIN TBL_STATUS_MAP S ON M.DOC_ID = S.DOC_ID
        JOIN TBL_ENDDOC E ON M.DOC_ID = E.DOC_ID
        LEFT JOIN TBL_APRLINE L ON M.DOC_ID = L.DOC_ID
        WHERE M.DOC_ID = #{docId}
        ORDER BY L.STEP_SEQ ASC
    </select>

</mapper>