<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.byh.groupware.domain.user.mapper.UserMapper">


    <select id="findById" resultType="UserMaster">
        SELECT
        MEM_ID,
        MEM_NAME,
        MEM_PASS,
        DEPT_CODE,
        CO_CODE,
        USE_YN
        FROM TBL_USER_MASTER
        WHERE MEM_ID = #{memId}
    </select>

    <insert id="insertMember" parameterType="UserMaster">
        INSERT INTO TBL_USER_MASTER (
        MEM_ID,
        MEM_NAME,
        MEM_PASS,
        DEPT_CODE,
        CO_CODE,
        USE_YN
        ) VALUES (
        #{memId},
        #{memName},
        #{memPass},
        #{deptCode},
        #{coCode},
        'Y'
        )
    </insert>



</mapper>