<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.byh.groupware.domain.user.mapper.UserMapper">


    <select id="findById" resultType="UserMasterVO">
        SELECT
        U.MEM_ID,
        U.MEM_PASS,
        U.MEM_NAME,
        U.JOB_GRADE,
        U.DEPT_CODE,
        D.DEPT_NAME,   U.CO_CODE,
        U.USE_YN
        FROM TBL_USER_MASTER U
        LEFT JOIN TBL_DEPT_MASTER D ON U.DEPT_CODE = D.DEPT_CODE
        WHERE U.MEM_ID = #{memId}
        AND U.USE_YN = 'Y'
    </select>

    <insert id="insertMember" parameterType="UserMasterVO">
        INSERT INTO TBL_USER_MASTER (
        MEM_ID,
        MEM_NAME,
        MEM_PASS,
        DEPT_CODE,
        CO_CODE,
        USE_YN
        ) VALUES (
        #{memId},
        #{memName},
        #{memPass},
        #{deptCode},
        #{coCode},
        'Y'
        )
    </insert>



</mapper>